<html>
    <head>
        <title>
            <%= title %>
        </title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        <link rel="stylesheet" type="text/css" href="/css/home.css">
        
    </head>
   
    <body>
        <h1 id="heading"><i class="fa-regular fa-address-book" style="color: #19191a;"></i> Contact List</h1>

            <div id="content">
            <ul>
              <% for(let i of contact_List){%>  

                <li id="list">
              <p id="name"><%= i.name %></p>
              <p id="phone"><%= i.phone %></p>

              <div class="delete-button">
                <a href="/delete-contact/?id=<%= i._id%>">
                  <i class="fa-solid fa-trash"></i>
                </a>

              </div>
            </li>
       
              
              <%}%>  
            </ul>
          </div>
        
        
        <div id="content">
        <form action="/create-contact" method="post">
            <input type="text" name="name" placeholder="Enter your name" required>
            <input type="number" name="phone" placeholder="Enter your number" required>
            <button type="submit">Add Contact</button>
        </form>
      </div>
    

        <script src="/js/home.js" type="text/javascript"></script>
        <script src="https://kit.fontawesome.com/2e15ea0b69.js" crossorigin="anonymous"></script>
    </body>
</html>